h1{
    padding: 50px;
    color:#4d3e3e;
}

.alignment{
    text-align: center;
}

p{
    text-align: left;
    padding: 40px;
}
  
img{
    padding: 40px;
    display: block;
  margin-left: auto;
}

.title {        
    display: flex;
    align-items: center;
}